@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.header {
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
}

.header__left {
    flex: 0.4;
}

.header__left>h1 {
    text-align: center;
    font-family: "Alata" , sans-serif;
    letter-spacing: 1px;
    padding: 20px 0;
}
.header__left > h1> span {
    color: #f64c08;

}

.header__right{
    display: flex;
    flex: 0.6;
    justify-content: space-evenly;
    align-items: center;
}